.navbar {
  background: linear-gradient(90deg, #0f4c81, #1976d2);
  padding: 14px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar h2 {
  color: white;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 18px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: white;
  margin-bottom: 4px;
  border-radius: 2px;
}

/* MOBILE */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #0f4c81;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 15px 0;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
